@import '../../../style/index.scss';

.dui-AboutWalkDialogContent{
  flex: 1;
  overflow: hidden;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;

  &-img{
    display: flex;
    justify-content: center;
    img{
      width: auto;
      max-height: 200px;
    }
  }

  &-title{
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0px;
    text-align: center;
    display: grid;
    gap: 3px;
    color: var(--dui-primary);
  }

  &-content{
    font-size: 18px !important;
    padding: 0 20px;
    text-align: justify;
    flex: 1;
    font-size: smaller;
    overflow: auto;
    opacity: 0.7;
    line-height: 25px;
  }
}