.dui-LegendDialogContent{
  overflow: auto;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 15px 30px;
  height: inherit;

  .legend-item {
      padding: 20px;

      .icon{
          max-width: 50px;
      }
  }
}