@import '../../style/index.scss';

.dui-ResponsiveDialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  max-height: 80vh;
  z-index: 700;
  min-width: 300px;
  min-height: 400px;
  box-shadow: 2px 2px 10px 1px #0000004a;
  display: flex;
  flex-direction: column;
  background: var(--dui-bg-primary);
  border-radius: 10px;
  pointer-events: auto;
  overflow: hidden;
  @include mobile{
    $marginSpace: 5px;
    max-width: unset;
    width: calc(100% - $marginSpace*2);
    border-radius: 10px 10px 0px 0px ;
    transform: unset;
    bottom: 0px;
    left: $marginSpace;
    height: calc(100% - 165px);
    top: auto;
    max-height: unset;
    animation: showUp 0.3s;
    @keyframes showUp {
      0%{
        bottom: -1000px;
      }
      100%{
        bottom: 0px
      }
    }
  }

  &-disableFixed{
    position: relative;
    top: auto;
    left: auto;
    transform: unset;
    height: 100%;
    width: 100%;
  }
  .header{
    min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title{
          color: black;
          opacity: 1;
          display: flex;
          flex-direction: row;
          align-items: center;
          .icon{
              display: flex;
              margin: 0px 10px;
              & > *{
                  height: 32px;
                  width: auto;
              }
          }
          .text{
              opacity: 0.7;
              font-size: 20px;
          }
      }
      .action{
          display: flex;
          justify-content: flex-end;
          .close-btn{
              cursor: pointer;
              font-size: large;
              margin-right: 20px;
              @include mobile{
                border: 1px solid;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              &:hover{
                  font-weight: bolder;
              }
          }
      }
  }
}