@import "../../../style/index.scss";

.dui-CheckInPopup {
  min-width: 200px;
  min-height: 300px;
  max-width: 400px;
  max-height: 600px;
  margin: 15px 5px;
  // padding: 0px 25px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.3s all;
  @include mobile {
    max-height: unset;
    flex: 1;
  }
  &-Kanban {
    $spacing: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }

  &-action {
    $height: 26px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255 255 255 / 65%);
    border-radius: 5px 5px 0px 0px;
    padding: 10px 15px calc($height - 2px);
    bottom: 0px;
    // color: var(--dui-primary);
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;

    .action-btn {
      position: absolute;
      cursor: pointer;
      min-height: $height;
      background-color: var(--dui-accent);
      border: 0;
      border-radius: 3px;
      padding: 5px 13px;
      color: #fff;
      bottom: calc(-1 * $height / 2 - 6px);
      font-size: 19px;
      font-weight: 500;

      &:disabled {
        background-color: gray;
        cursor: auto;
        opacity: 0.8;
      }
    }
  }

  &-geonavigator {
    width: min-content;
    margin: 35px auto 0px auto;
    cursor: pointer;
  }

  &-artical {
    padding: 0px 20px;
    .header {
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .title {
        font-size: x-large;
        // font-weight: bold;
        margin-top: 15px;
        margin-bottom: 5px;
      }
      .subtitle {
        opacity: 0.7;
        font-size: 16px;
        margin: 0;
      }
    }

    .content {
      line-height: 25px;
      font-size: 18px;
      min-width: 100px;
      text-align: justify;
      font-weight: 400;
      &::first-letter {
        color: var(--dui-accent);
        font-size: large;
      }
    }
    .CheckInPopup-credit {
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;
      span {
        border-radius: 500px;
        padding: 3px 10px;
        background-color: gray;
        color: white;
        font-size: 18px;
        margin-right: 15px;
      }
    }
  }
}
