@import '../../../style/index.scss';

.dui-SceneDialogContent{
  overflow: auto;
  flex: 1;
  margin-right: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  &-row{
    display: flex;
    max-height: 250px;
    padding: 5px;
    position: relative;

    &:nth-child(odd)::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: var(--dui-secondary);
      opacity: 0.2;
    }
  }

  &-picture{
    display: flex;
    align-items: center;
    padding: 0px 5px;
    z-index: 1;
    img{
      height: 90px;
      width: 120px;
      object-fit: cover;
      border-radius: 6px;
    }
  }

  &-content{
    display: flex;
    flex-direction: column;
    margin: 0 13px;
    font-size: 14px;
    width: 100%;
    z-index: 1;

    .content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .header-title {
        opacity: 0.7;
        font-weight: 700;
      }
    }
  }

  &-mainText{
    line-height: 18px;
    margin-top: 3px;
    max-width: 230px;
    opacity: .6;
    text-align: justify;
  }

  &-footer{
    margin-top: 2px;
    display: flex;
    justify-content: space-between;

    .more{
      background-color: var(--dui-secondary);
      border-radius: 10px;
      padding: 1px 7px;
      text-decoration: unset;
      color: #fff;
      cursor: pointer;
    }
  }
}