.dui-VisitorCount{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  margin-right: 75px;
  bottom: 8px;
  z-index: 400;
  pointer-events: none;
  user-select: none;
  &-title{
    color: #3c3c3c;
    font-size: 12px;
  }
  &-display{
    display: flex;
    gap: 1px;
  }
}
.dui-VisitorCount {
  margin-right: 75px;
  bottom: 8px;
}