/* :root{
  --rui-primary: rgb(0, 102, 255);

  --rui-secondary: rgb(42, 125, 250);

  --rui-accent: red;

  --rui-bg-primary: white;

  --rui-bg-secondary: rgb(42, 125, 250);

  --rui-bg-accent: #F1C385;
} */