/* :root{
  --dui-primary: rgb(0, 102, 255);

  --dui-secondary: rgb(42, 125, 250);

  --dui-accent: red;

  --dui-bg-primary: white;

  --dui-bg-secondary: rgb(42, 125, 250);

  --dui-bg-accent: #F1C385;
} */