::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #b9c1c7;
}

::-webkit-scrollbar-track {
  background: fff0
}

:root *{
  scrollbar-color: #b9c1c7 #fff0;
  scrollbar-width: thin !important;
}

.dui-MapViewContainer{
  .leaflet-touch .leaflet-bar, .leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers {
    border-radius: 3px;
  }
}

.dui-MapViewContainer .leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: var(--dui-bg-primary);
}


.dui-MapViewContainer .leaflet-container a.leaflet-popup-close-button{
  text-shadow: 0 0 1px black;
}

@mixin mobile {
  @media all and (max-width: 720px) {
    @content;
  }
}
